*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}
ul{
    background: blue;
    width: 100%;
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
ul li .drop-down-program{
    max-width: 500px;
    position: absolute;
    display: none;
}
ul li .drop-down-lab{
    max-width: 500px;
    display: none;
    position: absolute;
}
ul li:hover .drop-down-program{
    margin-left: -50px;
    display: block;
}
ul li:hover .drop-down-lab{
    margin-left: -50px;
    display: block;
}
p{
    margin-top: 65px;
    font-weight: bold;
}
.collage{
    margin-top: 10px;
    background: blue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
h2{
    padding-left: 10px;
}
img{
    width: 400px;
    margin-top: 10px;
}
#p{
    font-weight: normal;
    position: absolute;
    margin-top: 10px;
    left: 100px;
}
table{
    margin-top: 40px;
    width: 50%;
    text-align: center;
    background: whitesmoke;
    color: black;
}
th,td{
    border: 1px solid blue;
}
.text{
    margin-top: 10vh;
    font-weight: bold;
    font-size: 18px;
}
.box{
    width: 100%;
    height: 40px;
    background: blue; 
    /* height: 300px; */
}
.box h2{
    display: flex;
    padding-top: 6px;
    color: white;

}
image{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}
.box img{
    max-width: 250px;
    margin: 10px;
    border-radius: 10px;
}
marquee{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-top: 60px;
    display: flex;
}
marquee h3{
    padding-left: 10px;
    color: white;
}
h3{
    padding-top: 7px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h3 img{
    width: 150px;
}
.some-text{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;


}
.some-text a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
